APP_NAME="Cactus Financias"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=cactus_financias
DB_USERNAME=cactus
DB_PASSWORD=cactus

OBSERVABILITY_ALLOWLIST=admin@cactus.com,1
